<div class="row pt-5 text-primary">
    <h2 class="text-center">Apply for a Student Licence</h2>
  </div>
  
  <div class="container p-5 border rounded">
    <form action="">
      <div class="row">
        <div class="col-md-6">
          <div class="mb-3 mt-3">
            <label for="firstname" class="form-label"><strong><span class="text-danger">*</span>First Name</strong></label>
            <input type="text" class="form-control" id="firstname" name="firstname" />
          </div>
  
          <div class="mb-3 mt-3">
            <label for="email" class="form-label"><strong><span class="text-danger">*</span>Student Email</strong></label>
            <input type="email" class="form-control" id="email" name="email" />
          </div>
  
          <div class="mb-3 mt-3">
            <label for="address" class="form-label"><strong>Address</strong></label>
            <input type="text" class="form-control" id="address" name="address" />
          </div>
  
          <div class="mb-3 mt-3">
            <label for="institute" class="form-label"><strong><span class="text-danger">*</span>Institute</strong></label>
            <select class="form-select" aria-label="Default select example">
              <option selected>Select Institute</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
  
          <div class="mb-3 mt-3">
            <label for="course" class="form-label"><strong><span class="text-danger">*</span>Course Title</strong></label>
            <input type="text" class="form-control" id="course" name="course" />
          </div>
        </div>
          <div class="col-md-6">
          <div class="mb-3 mt-3">
            <label for="lastname" class="form-label"><strong><span class="text-danger">*</span>Last Name</strong></label>
            <input type="text" class="form-control" id="lastname" name="lastname" />
          </div>
  
          <div class="mb-3 mt-3">
            <label for="phone" class="form-label"><strong><span class="text-danger">*</span>Phone</strong></label>
            <input type="text" class="form-control" id="phone" name="phone" />
          </div>
  
          <div class="mb-3 mt-3">
            <label for="country" class="form-label"><strong><span class="text-danger">*</span>Country</strong></label>
            <select class="form-select" aria-label="Default select example">
              <option selected>Select Country</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
  
          <div class="mb-3 mt-3">
            <label for="intake" class="form-label"><strong><span class="text-danger">*</span>Intake</strong></label>
            <select class="form-select" aria-label="Default select example">
              <option selected>Select Intake</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
  
          <div class="mb-3 mt-3">
            <label for="formFile" class="form-label">
              <strong><span class="text-danger">*</span>Student ID Card.</strong> Only accepting jpg/png/jpeg under 10MB.
            </label>
            <input class="form-control btn-primary" type="file" id="formFile" />
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-12 text-center mt-1">
          <button type="submit" class="btn btn-primary m-4">Submit</button>
          <button type="submit" class="btn btn-secondary m-4">Cancel</button>
        </div>
      </div>
    </form>
  </div>
  