<div class="row pt-5 text-primary">
  <h2 class="text-center">Apply for a Student License</h2>
</div>

<div *ngIf="successMessage" class="alert alert-success text-center m-5 container">
  {{successMessage}}
</div>

<div *ngIf="errorMessage" class="alert alert-danger text-center mt-3 container">
  {{errorMessage}}
</div>

<div class="container p-5 border rounded">
  <form #studentForm="ngForm" (ngSubmit)="onSaveStudent(studentForm)" #form="ngForm">
    <div class="row">
      <div class="col-md-6">
        <!-- First Name -->
        <div class="mb-3 mt-3">
          <label for="firstname" class="form-label">
            <strong><span class="text-danger">*</span> First Name</strong>
          </label>
          <input type="text" [(ngModel)]="studentObj.firstName" class="form-control" id="firstname" name="firstname" required #firstName="ngModel"/>
          <div *ngIf="firstName.invalid && firstName.touched" class="text-danger">
            First Name is required.
          </div>
        </div>

        <!-- Email -->
        <div class="mb-3 mt-3">
          <label for="email" class="form-label">
            <strong><span class="text-danger">*</span> Student Email</strong>
          </label>
          <input type="email" [(ngModel)]="studentObj.studentEmail" class="form-control" id="email" name="email" required email  #email="ngModel"/>
          <!-- <div *ngIf="email.invalid && email.touched" class="text-danger">
            <div *ngIf="email.errors?.['required']">Email is required.</div>
          </div> -->
            <div class="text-danger" *ngIf="email.touched && email.invalid">
              <div *ngIf="email?.errors?.['required']">
                <span>Email is required.</span>
              </div>
              <div *ngIf="email?.errors?.['email']">
                <span>Please enter a valid email.</span>
              </div>
            </div>
        </div>

        <!-- Address -->
        <div class="mb-3 mt-3">
          <label for="address" class="form-label"><strong>Address</strong></label>
          <input type="text" [(ngModel)]="studentObj.address" class="form-control" id="address" name="address" />
        </div>

        <!-- Institute -->
        <div class="mb-3 mt-3">
          <label for="institute" class="form-label">
            <strong><span class="text-danger">*</span> Institute</strong>
          </label>
          <select [(ngModel)]="studentObj.institute" class="form-select" id="institute" name="institute" required #institute="ngModel">
            <option value="" disabled>Select Institute</option>
            <option>Institute One</option>
            <option>Institute Two</option>
            <option>Institute Three</option>
          </select>
          <div *ngIf="institute.invalid && institute.touched" class="text-danger">
            Please select an institute.
          </div>
        </div>

        <!-- Course Title -->
        <div class="mb-3 mt-3">
          <label for="course" class="form-label">
            <strong><span class="text-danger">*</span> Course Title</strong>
          </label>
          <input type="text" [(ngModel)]="studentObj.courseTitle" class="form-control" id="course" name="course" required #courseTitle="ngModel"/>
          <div *ngIf="courseTitle.invalid && courseTitle.touched" class="text-danger">
            Course title is required.
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <!-- Last Name -->
        <div class="mb-3 mt-3">
          <label for="lastname" class="form-label">
            <strong><span class="text-danger">*</span> Last Name</strong>
          </label>
          <input type="text" [(ngModel)]="studentObj.lastName" class="form-control" id="lastname" name="lastname" required #lastName="ngModel"/>
          <div *ngIf="lastName.invalid && lastName.touched" class="text-danger">
            Last Name is required.
          </div>
        </div>

        <!-- Phone -->
        <div class="mb-3 mt-3">
          <label for="phone" class="form-label">
            <strong><span class="text-danger">*</span> Phone</strong>
          </label>
          <input type="text" [(ngModel)]="studentObj.phone" class="form-control" id="phone" name="phone" required [formControl]="phoneControl" />
          <div *ngIf="phoneControl.invalid && phoneControl.touched" class="text-danger">
            <div *ngIf="phoneControl.errors?.['required']">Phone number is required.</div>
            <div *ngIf="phoneControl.errors?.['invalidNumber']">Please enter a valid phone number with 10 digits.</div>
          </div>
        </div>

        <!-- Country -->
        <div class="mb-3 mt-3">
          <label for="country" class="form-label">
            <strong><span class="text-danger">*</span> Country</strong>
          </label>
          <select [(ngModel)]="studentObj.country" class="form-select" id="country" name="country" required #country="ngModel">
            <option value="" disabled>Select Country</option>
            <option>Country One</option>
            <option>Country Two</option>
            <option>Country Three</option>
          </select>
          <div *ngIf="country.invalid && country.touched" class="text-danger">
            Please select a country..
          </div>
        </div>

        <!-- Intake -->
        <div class="mb-3 mt-3">
          <label for="intake" class="form-label">
            <strong><span class="text-danger">*</span> Intake</strong>
          </label>
          <select [(ngModel)]="studentObj.intake" class="form-select" id="intake" name="intake" required #intake="ngModel">
            <option value="" disabled>Select Intake</option>
            <option>Intake One</option>
            <option>Intake Two</option>
            <option>Intake Three</option>
          </select>
          <div *ngIf="intake.invalid && intake.touched" class="text-danger">
            Intake is required.
          </div>
        </div>

        <!-- Student ID Card -->
        <div class="mb-3 mt-3">
          <label for="formFile" class="form-label">
            <strong><span class="text-danger">*</span> Student ID Card.</strong> Only accepting jpg/png/jpeg under 10MB.
          </label>
          <input class="form-control" type="file" id="formFile" (change)="onFileSelected($event)"/>
        </div>
      </div>
    </div>

    <!-- Submit and Cancel Buttons -->
    <div class="row">
      <div class="col-12 text-center mt-1">
        <button type="submit" class="btn btn-primary m-4" [disabled]="!studentForm.valid">Submit</button>
        <button type="button" class="btn btn-secondary m-4" (click)="onCancel(studentForm)">Cancel</button>
      </div>
    </div>
  </form>
</div>





