<!-- <div class="row">
    @if (isLoader == true){
        <div class="d-flex justify-content-center align-items-center vh-100">
            <div class="spinner-border text-primary text-center"></div>
        </div>
    } @else { -->
        <div class="container mt-5">
            <div class="row">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Intake</th>
                            <th>Course Title</th>
                            <th>Student ID Card</th>
                            <th>License Status</th>
                            <th>Approval Status</th>
                            <th>License Expiry Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    <!-- }

</div> -->